.ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: min(100%, 800px);
}

/* clock */
.clock-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clock-label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 5rem auto;
  height: 1.5rem;
}

.clock-labelText {
  text-align: right;
}

/* HomePage */
.HomePage {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.HomePage-clockFrameSet {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.HomePage-clockFrame {
  border: solid 1px lightgray;
  flex: 1;
}

.HomePage-clockFrameHeading {
  font-family: sans-serif;
  font-weight: bold;
}
